
body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* title section */
#title{
  background-color: #000000;
  color: #fff;
}

.title-image{
  width: 15%;
  padding: 20px 0;
}

/* navbar */

.nav-item{
  padding: 5px 20px;
}

/* intro */
#intro{
  background-color:  #000000;
}

/* characters */
.char-heading{
  padding-bottom: 30px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 2px 0 #000000;
}

#mcu-characters{
  background-color: #000000;
}

.mcu-logo{
  width: 250px;
  padding: 12%;
}

.mcu-logo:hover{
  transform: rotate(180deg);
}

#mcu-characters,#news,#footer{
  padding: 3% 7%;
}

/* news */
.news-heading{
  font-size: 2.5rem;
  font-weight: bolder;
  padding-bottom: 20px;
}

.news-card{
  width: 100%;
}

/* footer */
#footer{
  background-color: #000000;
  text-align: left;
}

.footer-link{
  color: #fff;
}

.footer-link:visited,.footer-link:link,.footer-link:active{
  text-decoration: none;
}

.footer-link:hover{
  text-decoration: none;
  color: #767676;
}


.footer-icon{
  color: #767676;
  padding: 3px;
  width: 40px;
}

.footer-icon:hover{
  color: #fff;
}

.footer-followme{
  color: #fff;
}

.copyright{
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}
